# Correction du Notebook : Analyse de données cinématographiques
### DataRockstars

Il est important de noter que cette correction n'est pas exhaustive au vu de l'énoncé qui est volontairement flou, afin de vous laisser la liberté d'explorer la base de données à votre guise.

# Installation et imports

In [ ]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.28)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (67.7.2)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 20.2 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Installing collected packages: jedi
Successfully installed jedi-0.19.1

In [ ]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

# Chargement et compréhension des datasets

Commençons par créer les tables et la base de données à l'aide de SQLAlchemy.

In [ ]:
engine = create_engine('sqlite:///data/database.db')

In [ ]:
csv_files = {
    'actor.csv': 'actor',
    'film.csv': 'film',
    'film_actor.csv': 'film_actor',
    'category.csv': 'category',
    'film_category.csv': 'film_category',
    'country.csv': 'country',
    'city.csv': 'city',
    'address.csv': 'address',
    'customer.csv': 'customer',
    'inventory.csv': 'inventory',
    'language.csv': 'language',
    'payment.csv': 'payment',
    'rental.csv': 'rental',
    'staff.csv': 'staff',
    'store.csv': 'store'
}


for csv_file, table_name in csv_files.items():
    csv_path = f'data/{csv_file}'

    df = pd.read_csv(csv_path)

    df.to_sql(table_name, con=engine, if_exists='replace', index=False)

In [ ]:
%load_ext sql

In [ ]:
%%sql sqlite:///data/database.db

In [ ]:
%sql SELECT name FROM sqlite_master WHERE type='table'

   sqlite://
 * sqlite:///data/database.db
Done.

[('actor',),
 ('film',),
 ('film_actor',),
 ('category',),
 ('film_category',),
 ('country',),
 ('city',),
 ('address',),
 ('customer',),
 ('inventory',),
 ('language',),
 ('payment',),
 ('rental',),
 ('staff',),
 ('store',)]

Il n'est pas aisé de s'y retrouver avec toutes ces tables. Voici un diagramme qui devrait nous aider à visualiser les liaisons entre les tables.

![Base de données cinématographique.png]()

Visualisons quelques lignes pour vérifier que tout s'est bien passé.

In [ ]:
%sql SELECT * FROM film LIMIT 5

   sqlite://
 * sqlite:///data/database.db
Done.

[(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, None, 6, 0.99, 86, 20.99, 'PG', '2022-09-10 19:46:03.905795+03', '{"Deleted Scenes","Behind the Scenes"}', "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17"),
 (2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 2006, 1, None, 3, 4.99, 48, 12.99, 'G', '2022-09-10 19:46:03.905795+03', '{Trailers,"Deleted Scenes"}', "'ace':1 'administr':9 'ancient':19 'astound':4 'car':17 'china':20 'databas':8 'epistl':5 'explor':12 'find':15 'goldfing':2 'must':14"),
 (3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 2006, 1, None, 7, 2.99, 50, 18.99, 'NC-17', '2022-09-10 19:46:03.905795+03', '{Trailers,"Deleted Scenes"}', "'adapt':1 'astound':4 'baloon':19 'car':11 'factori':20 'hole':2 'lumberjack':8,16 'must':13 'reflect':5 'sink':14"),
 (4, 'AFFAIR PREJUDICE', 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank', 2006, 1, None, 5, 2.99, 117, 26.99, 'G', '2022-09-10 19:46:03.905795+03', '{Commentaries,"Behind the Scenes"}', "'affair':1 'chase':14 'documentari':5 'fanci':4 'frisbe':8 'lumberjack':11 'monkey':16 'must':13 'prejudic':2 'shark':19 'tank':20"),
 (5, 'AFRICAN EGG', 'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico', 2006, 1, None, 6, 2.99, 130, 22.99, 'G', '2022-09-10 19:46:03.905795+03', '{"Deleted Scenes"}', "'african':1 'chef':11 'dentist':14 'documentari':7 'egg':2 'fast':5 'fast-pac':4 'forens':19 'gulf':23 'mexico':25 'must':16 'pace':6 'pastri':10 'psychologist':20 'pursu':17")]

In [ ]:
%sql SELECT * FROM actor LIMIT 5

   sqlite://
 * sqlite:///data/database.db
Done.

[(1, 'PENELOPE', 'GUINESS', '2022-02-15 12:34:33+03'),
 (2, 'NICK', 'WAHLBERG', '2022-02-15 12:34:33+03'),
 (3, 'ED', 'CHASE', '2022-02-15 12:34:33+03'),
 (4, 'JENNIFER', 'DAVIS', '2022-02-15 12:34:33+03'),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', '2022-02-15 12:34:33+03')]

# Data Cleaning

In [ ]:
# Consulter les types de colonnes
%%sql

PRAGMA table_info('film');

   sqlite://
 * sqlite:///data/database.db
Done.

[(0, 'film_id', 'BIGINT', 0, None, 0),
 (1, 'title', 'TEXT', 0, None, 0),
 (2, 'description', 'TEXT', 0, None, 0),
 (3, 'release_year', 'BIGINT', 0, None, 0),
 (4, 'language_id', 'BIGINT', 0, None, 0),
 (5, 'original_language_id', 'FLOAT', 0, None, 0),
 (6, 'rental_duration', 'BIGINT', 0, None, 0),
 (7, 'rental_rate', 'FLOAT', 0, None, 0),
 (8, 'length', 'BIGINT', 0, None, 0),
 (9, 'replacement_cost', 'FLOAT', 0, None, 0),
 (10, 'rating', 'TEXT', 0, None, 0),
 (11, 'last_update', 'TEXT', 0, None, 0),
 (12, 'special_features', 'TEXT', 0, None, 0),
 (13, 'fulltext', 'TEXT', 0, None, 0)]

In [ ]:
# Vérifier les valeurs NULL

%%sql
SELECT
  COUNT(*) as total,
  COUNT(fulltext) as non_null_values
FROM film;

   sqlite://
 * sqlite:///data/database.db
Done.

[(1000, 1000)]

In [ ]:
# Supprimer les lignes avec des valeurs NULL (à utiliser avec précaution)

%%sql

DELETE FROM film WHERE fulltext IS NULL;

   sqlite://
 * sqlite:///data/database.db
0 rows affected.

[]

In [ ]:
# Mettre à jour par une valeur par défaut

%%sql

UPDATE film SET fulltext = 'PAS DE TEXTE' WHERE fulltext IS NULL;

   sqlite://
 * sqlite:///data/database.db
0 rows affected.

[]

In [ ]:
# Supprimer les doublons

%%sql

DELETE FROM film
WHERE film_id NOT IN (
  SELECT MIN(film_id)
  FROM film
  GROUP BY film_id
);

   sqlite://
 * sqlite:///data/database.db
0 rows affected.

[]

# Analyse de données

Maintenant réalisons des requêtes plus complexes : ci-dessous, les films les plus populaires par genre.

In [ ]:
%%sql

WITH FilmPopularity AS (
  SELECT
    fc.category_id,
    f.film_id,
    f.title,
    c.name AS category_name,
    COUNT(i.inventory_id) AS inventory_count,
    ROW_NUMBER() OVER(PARTITION BY fc.category_id ORDER BY COUNT(i.inventory_id) DESC) as popularity_rank
  FROM film f
  JOIN film_category fc ON f.film_id = fc.film_id
  JOIN category c ON fc.category_id = c.category_id
  JOIN inventory i ON f.film_id = i.film_id
  GROUP BY fc.category_id, f.film_id
)
SELECT
  film_id,
  title,
  category_name,
  inventory_count
FROM FilmPopularity
WHERE popularity_rank = 1;

   sqlite://
 * sqlite:///data/database.db
Done.

[(911, 'TRIP NEWTON', 'Action', 8),
 (880, 'TELEMARK HEARTBREAKERS', 'Animation', 8),
 (873, 'SWEETHEARTS SUSPECTS', 'Children', 8),
 (525, 'LOATHING LEGALLY', 'Classics', 8),
 (1000, 'ZORRO ARK', 'Comedy', 8),
 (973, 'WIFE TURN', 'Documentary', 8),
 (897, 'TORQUE BOUND', 'Drama', 8),
 (753, 'RUSH GOODFELLAS', 'Family', 8),
 (789, 'SHOCK CABIN', 'Foreign', 8),
 (835, 'SPY MILE', 'Games', 8),
 (870, 'SWARM GOLD', 'Horror', 8),
 (767, 'SCALAWAG DUCK', 'Music', 8),
 (846, 'STING PERSONAL', 'New', 8),
 (893, 'TITANS JERK', 'Sci-Fi', 8),
 (773, 'SEABISCUIT PUNK', 'Sports', 8),
 (609, 'MUSCLE BRIGHT', 'Travel', 8)]

Cette fois-ci d'une manière plus "conventionnelle" (c'est-à-dire sans le WITH), qui marche tout aussi bien.

In [ ]:
%%sql

SELECT
  fp.film_id,
  fp.title,
  fp.category_name,
  fp.inventory_count
FROM (
  SELECT
    fc.category_id,
    f.film_id,
    f.title,
    c.name AS category_name,
    COUNT(i.inventory_id) AS inventory_count,
    ROW_NUMBER() OVER(PARTITION BY fc.category_id ORDER BY COUNT(i.inventory_id) DESC) as popularity_rank
  FROM film f
  JOIN film_category fc ON f.film_id = fc.film_id
  JOIN category c ON fc.category_id = c.category_id
  JOIN inventory i ON f.film_id = i.film_id
  GROUP BY fc.category_id, f.film_id
) AS fp
WHERE fp.popularity_rank = 1;

   sqlite://
 * sqlite:///data/database.db
Done.

[(911, 'TRIP NEWTON', 'Action', 8),
 (880, 'TELEMARK HEARTBREAKERS', 'Animation', 8),
 (873, 'SWEETHEARTS SUSPECTS', 'Children', 8),
 (525, 'LOATHING LEGALLY', 'Classics', 8),
 (1000, 'ZORRO ARK', 'Comedy', 8),
 (973, 'WIFE TURN', 'Documentary', 8),
 (897, 'TORQUE BOUND', 'Drama', 8),
 (753, 'RUSH GOODFELLAS', 'Family', 8),
 (789, 'SHOCK CABIN', 'Foreign', 8),
 (835, 'SPY MILE', 'Games', 8),
 (870, 'SWARM GOLD', 'Horror', 8),
 (767, 'SCALAWAG DUCK', 'Music', 8),
 (846, 'STING PERSONAL', 'New', 8),
 (893, 'TITANS JERK', 'Sci-Fi', 8),
 (773, 'SEABISCUIT PUNK', 'Sports', 8),
 (609, 'MUSCLE BRIGHT', 'Travel', 8)]

Établissons maintenant le profil des clients.

In [ ]:
%%sql

SELECT
  co.country,
  ci.city,
  COUNT(cu.customer_id) AS number_of_customers
FROM customer cu
JOIN address a ON cu.address_id = a.address_id
JOIN city ci ON a.city_id = ci.city_id
JOIN country co ON ci.country_id = co.country_id
GROUP BY co.country
ORDER BY number_of_customers DESC;

   sqlite://
 * sqlite:///data/database.db
Done.

[('India', 'Yamuna Nagar', 60),
 ('China', 'Nanyang', 53),
 ('United States', 'San Bernardino', 36),
 ('Japan', 'Sasebo', 31),
 ('Mexico', 'Atlixco', 30),
 ('Russian Federation', 'Elista', 28),
 ('Brazil', 'Vila Velha', 28),
 ('Philippines', 'Davao', 20),
 ('Turkey', 'Osmaniye', 15),
 ('Indonesia', 'Pemalang', 14),
 ('Nigeria', 'Kaduna', 13),
 ('Argentina', 'Crdoba', 13),
 ('South Africa', 'Kimberley', 11),
 ('Taiwan', 'Nantou', 10),
 ('United Kingdom', 'Southend-on-Sea', 9),
 ('Poland', 'Jastrzebie-Zdrj', 8),
 ('Iran', 'Esfahan', 8),
 ('Venezuela', 'Caracas', 7),
 ('Italy', 'Alessandria', 7),
 ('Germany', 'Duisburg', 7),
 ('Vietnam', 'Haiphong', 6),
 ('Ukraine', 'Simferopol', 6),
 ('Egypt', 'Shubra al-Khayma', 6),
 ('Colombia', 'Sincelejo', 6),
 ('Spain', 'A Corua (La Corua)', 5),
 ('South Korea', 'Cheju', 5),
 ('Saudi Arabia', 'Jedda', 5),
 ('Pakistan', 'Mardan', 5),
 ('Netherlands', 'Apeldoorn', 5),
 ('Canada', 'Oshawa', 5),
 ('Yemen', 'Aden', 4),
 ('Peru', 'Lima', 4),
 ('Israel', 'Ashdod', 4),
 ('France', 'Toulouse', 4),
 ('United Arab Emirates', 'al-Ayn', 3),
 ('Thailand', 'Pak Kret', 3),
 ('Tanzania', 'Tabora', 3),
 ('Switzerland', 'Basel', 3),
 ('Paraguay', 'Ciudad del Este', 3),
 ('Mozambique', 'Tete', 3),
 ('Morocco', 'Sal', 3),
 ('Malaysia', 'Kuching', 3),
 ('Ecuador', 'Portoviejo', 3),
 ('Dominican Republic', 'Santiago de los Caballeros', 3),
 ('Chile', 'Antofagasta', 3),
 ('Bangladesh', 'Tangail', 3),
 ('Austria', 'Linz', 3),
 ('Algeria', 'Bchar', 3),
 ('Yugoslavia', 'Kragujevac', 2),
 ('Sudan', 'Omdurman', 2),
 ('Romania', 'Botosani', 2),
 ('Puerto Rico', 'Ponce', 2),
 ('Oman', 'Masqat', 2),
 ('Myanmar', 'Myingyan', 2),
 ('Latvia', 'Liepaja', 2),
 ('Kenya', 'Kisumu', 2),
 ('Kazakstan', 'Pavlodar', 2),
 ('Greece', 'Athenai', 2),
 ('French Polynesia', 'Faaa', 2),
 ('Congo, The Democratic Republic of the', 'Mwene-Ditu', 2),
 ('Cameroon', 'Bamenda', 2),
 ('Cambodia', 'Phnom Penh', 2),
 ('Bulgaria', 'Stara Zagora', 2),
 ('Bolivia', 'Sucre', 2),
 ('Belarus', 'Molodetno', 2),
 ('Azerbaijan', 'Baku', 2),
 ('Angola', 'Namibe', 2),
 ('Zambia', 'Kitwe', 1),
 ('Virgin Islands, U.S.', 'Charlotte Amalie', 1),
 ('Tuvalu', 'Funafuti', 1),
 ('Turkmenistan', 'Ashgabat', 1),
 ('Tunisia', 'Sousse', 1),
 ('Tonga', 'Nukualofa', 1),
 ('Sweden', 'Malm', 1),
 ('Sri Lanka', 'Jaffna', 1),
 ('Slovakia', 'Bratislava', 1),
 ('Senegal', 'Ziguinchor', 1),
 ('Saint Vincent and the Grenadines', 'Kingstown', 1),
 ('Runion', 'Saint-Denis', 1),
 ('North Korea', 'Pyongyang', 1),
 ('New Zealand', 'Hamilton', 1),
 ('Nepal', 'Birgunj', 1),
 ('Nauru', 'Yangor', 1),
 ('Moldova', 'Chisinau', 1),
 ('Malawi', 'Lilongwe', 1),
 ('Madagascar', 'Mahajanga', 1),
 ('Lithuania', 'Vilnius', 1),
 ('Liechtenstein', 'Vaduz', 1),
 ('Kuwait', 'Jalib al-Shuyukh', 1),
 ('Iraq', 'Mosul', 1),
 ('Hungary', 'Szkesfehrvr', 1),
 ('Hong Kong', 'Kowloon and New Kowloon', 1),
 ('Holy See (Vatican City State)', 'Citt del Vaticano', 1),
 ('Greenland', 'Nuuk', 1),
 ('Gambia', 'Banjul', 1),
 ('French Guiana', 'Cayenne', 1),
 ('Finland', 'Oulu', 1),
 ('Faroe Islands', 'Trshavn', 1),
 ('Ethiopia', 'Addis Abeba', 1),
 ('Estonia', 'Tartu', 1),
 ('Czech Republic', 'Olomouc', 1),
 ('Chad', 'NDjamna', 1),
 ('Brunei', 'Bandar Seri Begawan', 1),
 ('Bahrain', 'al-Manama', 1),
 ('Armenia', 'Yerevan', 1),
 ('Anguilla', 'South Hill', 1),
 ('American Samoa', 'Tafuna', 1),
 ('Afghanistan', 'Kabul', 1)]

In [ ]:
%%sql

SELECT
  cat.name AS category_name,
  COUNT(rent.rental_id) AS number_of_rentals
FROM rental rent
JOIN inventory inv ON rent.inventory_id = inv.inventory_id
JOIN film f ON inv.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category cat ON fc.category_id = cat.category_id
GROUP BY cat.name
ORDER BY number_of_rentals DESC;

   sqlite://
 * sqlite:///data/database.db
Done.

[('Sports', 1179),
 ('Animation', 1166),
 ('Action', 1112),
 ('Sci-Fi', 1101),
 ('Family', 1096),
 ('Drama', 1060),
 ('Documentary', 1050),
 ('Foreign', 1033),
 ('Games', 969),
 ('Children', 945),
 ('Comedy', 941),
 ('New', 940),
 ('Classics', 939),
 ('Horror', 846),
 ('Travel', 837),
 ('Music', 830)]

A priori, les clients de Sakila (dont est issue la base de données) sont majoritairement indiens et leur genre de films favori est "Sports". Il est possible de connaître plein d'autres choses concernant le profil de clients étudiés.

Mais voyons maintenant ce qu'il en est de leurs achats.

In [ ]:
%%sql

SELECT
  AVG(total_spent) AS average_spent_per_client
FROM (
  SELECT
    SUM(payment.amount) AS total_spent
  FROM payment
  GROUP BY payment.customer_id
) AS customer_spending;

   sqlite://
 * sqlite:///data/database.db
Done.

[(112.54843071786303,)]

In [ ]:
%%sql

SELECT
  AVG(number_of_rentals) AS average_rentals_per_client
FROM (
  SELECT
    COUNT(rental.rental_id) AS number_of_rentals
  FROM rental
  GROUP BY rental.customer_id
) AS customer_rentals;

   sqlite://
 * sqlite:///data/database.db
Done.

[(26.784641068447414,)]

On remarque que les clients ont loué en moyenne 26 films pour un montant total moyen de 112 livres environ. S'il est utile à l'entreprise de connaître les données précises par client, on peut utiliser les approches suivantes.

In [ ]:
%%sql

SELECT
  cu.customer_id,
  cu.first_name || ' ' || cu.last_name AS customer_name,
  SUM(pa.amount) AS total_spent
FROM customer cu
JOIN payment pa ON cu.customer_id = pa.customer_id
GROUP BY cu.customer_id
ORDER BY total_spent DESC;

   sqlite://
 * sqlite:///data/database.db
Done.

[(526, 'KARL SEAL', 221.55000000000007),
 (148, 'ELEANOR HUNT', 216.54000000000005),
 (144, 'CLARA SHAW', 195.58000000000004),
 (178, 'MARION SNYDER', 194.61000000000004),
 (137, 'RHONDA KENNEDY', 194.61000000000004),
 (459, 'TOMMY COLLAZO', 186.62000000000003),
 (469, 'WESLEY BULL', 177.60000000000002),
 (468, 'TIM CARY', 175.61),
 (236, 'MARCIA DEAN', 175.58),
 (181, 'ANA BRADLEY', 174.66000000000003),
 (176, 'JUNE CARROLL', 173.63000000000002),
 (259, 'LENA JENSEN', 170.67000000000002),
 (50, 'DIANE COLLINS', 169.65),
 (522, 'ARNOLD HAVENS', 167.67000000000002),
 (410, 'CURTIS IRBY', 167.62),
 (403, 'MIKE WAY', 166.65),
 (295, 'DAISY BATES', 162.62),
 (209, 'TONYA CHAPMAN', 161.68),
 (373, 'LOUIS LEONE', 161.65),
 (470, 'GORDON ALLARD', 160.68),
 (187, 'BRITTANY RILEY', 159.72000000000003),
 (550, 'GUY BROWNLEE', 159.68),
 (462, 'WARREN SHERROD', 159.67000000000002),
 (267, 'MARGIE WADE', 159.64),
 (293, 'MAE FLETCHER', 158.69),
 (372, 'STEVE MACKENZIE', 158.66),
 (368, 'HARRY ARCE', 157.65),
 (273, 'PRISCILLA LOWE', 157.65),
 (346, 'ARTHUR SIMPKINS', 155.68),
 (21, 'MICHELLE CLARK', 155.65),
 (75, 'TAMMY SANDERS', 155.58999999999997),
 (197, 'SUE PETERS', 154.6),
 (119, 'SHERRY MARSHALL', 153.66),
 (532, 'NEIL RENNER', 152.67999999999998),
 (390, 'SHAWN HEATON', 152.67),
 (26, 'JESSICA HALL', 152.66),
 (506, 'LESLIE SEWARD', 152.65),
 (274, 'NAOMI JENNINGS', 152.65),
 (366, 'BRANDON HUEY', 152.63),
 (454, 'ALEX GRESHAM', 151.67),
 (7, 'MARIA MILLER', 151.67),
 (211, 'STACEY MONTGOMERY', 151.66),
 (196, 'ALMA AUSTIN', 151.65),
 (439, 'ALEXANDER FENNELL', 151.64),
 (257, 'MARSHA DOUGLAS', 151.63),
 (360, 'RALPH MADRIGAL', 150.66),
 (371, 'BILLY POULIN', 149.65),
 (513, 'DUANE TUBBS', 148.69),
 (86, 'JACQUELINE LONG', 148.67),
 (309, 'CHRISTOPHER GRECO', 147.69),
 (204, 'ROSEMARY SCHMIDT', 147.64999999999998),
 (479, 'ZACHARY HITE', 146.69),
 (103, 'GLADYS HAMILTON', 146.69),
 (348, 'ROGER QUINTANILLA', 146.64),
 (87, 'WANDA PATTERSON', 145.7),
 (362, 'NICHOLAS BARFIELD', 145.67999999999998),
 (172, 'BERNICE WILLIS', 145.67),
 (436, 'TROY QUIGLEY', 144.7),
 (277, 'OLGA JIMENEZ', 144.67999999999998),
 (237, 'TANYA GILBERT', 144.67),
 (66, 'JANICE WARD', 144.65999999999997),
 (5, 'ELIZABETH BROWN', 144.61999999999998),
 (363, 'ROY WHITING', 143.70999999999998),
 (337, 'JERRY JORDON', 143.70999999999998),
 (120, 'SYLVIA ORTIZ', 143.67999999999998),
 (347, 'RYAN SALISBURY', 142.7),
 (289, 'VIOLET RODRIQUEZ', 142.7),
 (239, 'MINNIE ROMERO', 142.65999999999997),
 (46, 'CATHERINE CAMPBELL', 142.65999999999997),
 (39, 'DEBRA NELSON', 141.70999999999998),
 (472, 'GREG ROBINS', 141.7),
 (78, 'LORI WOOD', 141.69),
 (533, 'JESSIE MILAM', 141.67),
 (84, 'SARA PERRY', 141.67),
 (566, 'CASEY MENA', 141.65999999999997),
 (198, 'ELSIE KELLEY', 141.62999999999997),
 (494, 'RAMON CHOATE', 140.69),
 (242, 'GLENDA FRAZIER', 140.67999999999998),
 (29, 'ANGELA HERNANDEZ', 140.64),
 (467, 'ALVIN DELOACH', 139.71),
 (146, 'JAMIE RICE', 139.70999999999998),
 (484, 'ROBERTO VU', 139.7),
 (404, 'STANLEY SCROGGINS', 139.7),
 (114, 'GRACE ELLIS', 139.67),
 (576, 'MORRIS MCCARTER', 139.66),
 (482, 'MAURICE CRAWLEY', 138.71),
 (349, 'JOE GILLILAND', 138.70999999999998),
 (306, 'CHARLES KOWALSKI', 138.67999999999998),
 (51, 'ALICE STEWART', 138.67),
 (502, 'BRETT CORNWELL', 138.66),
 (80, 'MARILYN ROSS', 137.7),
 (210, 'ELLA OLIVER', 137.69),
 (300, 'JOHN FARNSWORTH', 137.68999999999997),
 (102, 'CRYSTAL FORD', 137.67),
 (207, 'GERTRUDE CASTILLO', 137.65999999999997),
 (200, 'JEANNE LAWSON', 136.73),
 (380, 'RUSSELL BRINSON', 136.64),
 (285, 'MIRIAM MCKINNEY', 135.73999999999998),
 (3, 'LINDA WILLIAMS', 135.73999999999998),
 (558, 'JIMMIE EGGLESTON', 135.71999999999997),
 (448, 'MIGUEL BETANCOURT', 135.70999999999998),
 (56, 'GLORIA COOK', 135.7),
 (334, 'RAYMOND MCWHORTER', 135.69999999999996),
 (279, 'DIANNE SHELTON', 135.68999999999997),
 (535, 'JAVIER ELROD', 135.67999999999998),
 (125, 'ETHEL WEBB', 135.67999999999998),
 (168, 'REGINA BERRY', 135.65999999999997),
 (591, 'KENT ARSENAULT', 134.73),
 (307, 'JOSEPH JOY', 134.69999999999996),
 (569, 'DAVE GARDINER', 134.67999999999998),
 (520, 'MITCHELL WESTMORELAND', 134.67999999999998),
 (89, 'JULIA FLORES', 134.67999999999998),
 (15, 'HELEN HARRIS', 134.67999999999998),
 (438, 'BARRY LOVELACE', 134.66999999999996),
 (473, 'JORGE OLIVARES', 134.65999999999997),
 (433, 'DON BONE', 133.74999999999997),
 (59, 'CHERYL MURPHY', 133.72999999999996),
 (504, 'NATHANIEL ADAM', 133.71999999999997),
 (92, 'TINA SIMMONS', 133.71999999999997),
 (265, 'JENNIE TERRY', 133.70999999999998),
 (179, 'DANA HART', 133.70999999999998),
 (112, 'ROSA REYNOLDS', 133.7),
 (221, 'BESSIE MORRISON', 132.71999999999997),
 (316, 'STEVEN CURLEY', 132.70999999999998),
 (560, 'JORDAN ARCHULETA', 132.7),
 (319, 'RONALD WEINER', 132.7),
 (108, 'TRACY COLE', 132.7),
 (245, 'COURTNEY DAY', 132.67999999999998),
 (13, 'KAREN JACKSON', 131.73),
 (299, 'JAMES GANNON', 131.7),
 (314, 'GEORGE LINTON', 131.66999999999996),
 (82, 'KATHRYN COLEMAN', 130.73999999999998),
 (594, 'EDUARDO HIATT', 130.73),
 (49, 'JOYCE EDWARDS', 130.71999999999997),
 (154, 'MICHELE GRANT', 130.7),
 (342, 'HAROLD MARTINO', 130.67999999999998),
 (141, 'DEBBIE REYES', 130.67999999999998),
 (589, 'TRACY HERRMANN', 129.71999999999997),
 (497, 'GILBERT SLEDGE', 129.71999999999997),
 (296, 'RAMONA HALE', 129.7),
 (269, 'CASSANDRA WALTERS', 129.7),
 (584, 'SALVADOR TEEL', 129.69999999999996),
 (71, 'KATHY JAMES', 129.69999999999996),
 (244, 'VIOLA HANSON', 129.67999999999998),
 (35, 'VIRGINIA GREEN', 129.67999999999998),
 (354, 'JUSTIN NGO', 129.64),
 (434, 'EDDIE TOMLIN', 128.73),
 (2, 'PATRICIA JOHNSON', 128.73),
 (322, 'JASON MORRISSEY', 128.71999999999997),
 (54, 'TERESA ROGERS', 128.70999999999998),
 (131, 'MONICA HICKS', 128.7),
 (451, 'JIM REA', 128.67),
 (297, 'SHERRI RHODES', 128.67),
 (508, 'MILTON HOWLAND', 127.74999999999999),
 (45, 'JANET PHILLIPS', 127.72999999999999),
 (302, 'MICHAEL SILVERMAN', 127.70999999999998),
 (253, 'TERRY CARLSON', 127.70999999999998),
 (32, 'AMY LOPEZ', 127.70999999999998),
 (339, 'WALTER PERRYMAN', 127.69999999999996),
 (329, 'FRANK WAGGONER', 127.67999999999998),
 (128, 'MARJORIE TUCKER', 127.67999999999998),
 (147, 'JOANNE ROBERTSON', 127.65999999999998),
 (38, 'MARTHA GONZALEZ', 127.65999999999997),
 (426, 'BRADLEY MOTLEY', 126.72999999999998),
 (206, 'TERRI VASQUEZ', 126.72999999999998),
 (515, 'ANDRE RAPP', 126.71999999999997),
 (284, 'SONIA GREGORY', 126.71999999999997),
 (575, 'ISAAC OGLESBY', 126.70999999999998),
 (565, 'JAIME NETTLES', 126.70999999999998),
 (107, 'FLORENCE WOODS', 126.69999999999997),
 (27, 'SHIRLEY ALLEN', 126.68999999999997),
 (158, 'VERONICA STONE', 126.67999999999998),
 (122, 'THELMA MURRAY', 126.67999999999998),
 (19, 'RUTH MARTINEZ', 125.75999999999999),
 (389, 'ALAN KAHN', 124.73999999999998),
 (491, 'RICK MATTOX', 124.72999999999998),
 (400, 'BRYAN HARDISON', 124.71999999999997),
 (388, 'CRAIG MORRELL', 124.69999999999997),
 (230, 'JOY GEORGE', 124.66999999999997),
 (129, 'CARRIE PORTER', 124.65999999999997),
 (166, 'LYNN PAYNE', 123.71999999999998),
 (268, 'NINA SOTO', 123.70999999999998),
 (499, 'MARC OUTLAW', 123.69999999999997),
 (30, 'MELISSA KING', 123.65999999999998),
 (510, 'BEN EASTER', 122.73999999999998),
 (331, 'ERIC ROBERT', 122.72999999999999),
 (276, 'BRANDY GRAVES', 122.71999999999998),
 (163, 'CATHY SPENCER', 122.71),
 (263, 'HILDA HOPKINS', 122.70999999999998),
 (260, 'CHRISTY VARGAS', 122.69),
 (406, 'NATHAN RUNYON', 122.67999999999998),
 (241, 'HEIDI LARSON', 122.65999999999998),
 (571, 'JOHNNIE CHISHOLM', 121.75999999999999),
 (149, 'VALERIE BLACK', 121.73999999999998),
 (356, 'GERALD FULTZ', 121.69999999999997),
 (416, 'JEFFERY PINSON', 121.68999999999998),
 (393, 'PHILIP CAUSEY', 121.68999999999998),
 (311, 'PAUL TROUT', 120.76999999999998),
 (495, 'CHARLIE BESS', 120.73999999999998),
 (423, 'ALFRED CASILLAS', 120.73999999999998),
 (225, 'ARLENE HARVEY', 120.73999999999998),
 (105, 'DAWN SULLIVAN', 120.73999999999998),
 (573, 'BYRON BOX', 120.70999999999998),
 (16, 'SANDRA MARTIN', 120.70999999999998),
 (251, 'VICKIE BREWER', 120.68999999999998),
 (487, 'HECTOR POINDEXTER', 119.73999999999998),
 (170, 'BEATRICE ARNOLD', 119.73999999999998),
 (421, 'LEE HAWKS', 119.72999999999998),
 (262, 'PATSY DAVIDSON', 119.71999999999998),
 (173, 'AUDREY RAY', 119.70999999999998),
 (336, 'JOSHUA MARK', 119.69999999999999),
 (23, 'SARAH LEWIS', 119.69999999999999),
 (340, 'PATRICK NEWSOM', 119.68999999999998),
 (167, 'SALLY PIERCE', 119.67999999999996),
 (531, 'JAMIE WAUGH', 118.74999999999999),
 (41, 'STEPHANIE MITCHELL', 118.74999999999999),
 (292, 'MISTY LAMBERT', 118.72999999999999),
 (280, 'TRACEY BARRETT', 118.72999999999998),
 (577, 'CLIFTON MALCOLM', 118.71999999999998),
 (332, 'STEPHEN QUALLS', 118.71999999999998),
 (266, 'NORA HERRERA', 118.71999999999997),
 (529, 'ERIK GUILLEN', 118.70999999999998),
 (442, 'LEROY BUSTAMANTE', 118.67999999999999),
 (1, 'MARY SMITH', 118.67999999999998),
 (583, 'MARSHALL THORN', 117.76999999999998),
 (585, 'PERRY SWAFFORD', 117.75999999999999),
 (490, 'SAM MCDUFFIE', 117.75999999999998),
 (536, 'FERNANDO CHURCHILL', 117.74999999999999),
 (240, 'MARLENE WELCH', 117.73999999999998),
 (286, 'VELMA LUCAS', 117.72999999999998),
 (126, 'ELLEN SIMPSON', 117.71999999999998),
 (14, 'BETTY WHITE', 117.71999999999998),
 (538, 'TED BREAUX', 117.70999999999998),
 (386, 'TODD TAN', 117.70999999999998),
 (595, 'TERRENCE GUNDERSON', 117.69999999999999),
 (42, 'CAROLYN PEREZ', 117.69999999999999),
 (321, 'KEVIN SCHULER', 116.77999999999997),
 (432, 'EDWIN BURK', 116.76999999999998),
 (408, 'MANUEL MURRELL', 116.69999999999999),
 (446, 'THEODORE CULP', 116.68999999999998),
 (214, 'KRISTIN JOHNSTON', 116.68999999999998),
 (254, 'MAXINE SILVA', 116.67999999999998),
 (512, 'CECIL VINES', 115.73999999999998),
 (304, 'DAVID ROYAL', 115.73999999999998),
 (58, 'JEAN BELL', 115.72999999999999),
 (500, 'REGINALD KINDER', 115.71999999999998),
 (485, 'CLYDE TOBIAS', 115.71),
 (588, 'MARION OCAMPO', 115.70999999999998),
 (481, 'HERMAN DEVORE', 115.70999999999998),
 (287, 'BECKY MILES', 115.70999999999998),
 (25, 'DEBORAH WALKER', 115.70999999999998),
 (444, 'MARCUS HIDALGO', 115.69999999999999),
 (53, 'HEATHER MORRIS', 115.69999999999999),
 (20, 'SHARON ROBINSON', 115.69999999999997),
 (503, 'ANGEL BARCLAY', 115.67999999999998),
 (427, 'JESUS MCCARTNEY', 114.75999999999998),
 (343, 'DOUGLAS GRAF', 114.74999999999999),
 (171, 'DOLORES WAGNER', 114.73999999999998),
 (44, 'MARIE TURNER', 114.73999999999998),
 (220, 'CHARLENE ALVAREZ', 114.72999999999999),
 (457, 'BILL GAVIN', 114.71999999999998),
 (338, 'DENNIS GILMAN', 114.71999999999998),
 (317, 'EDWARD BAUGH', 114.71999999999998),
 (57, 'EVELYN MORGAN', 114.71999999999998),
 (323, 'MATTHEW MAHAN', 114.68999999999998),
 (186, 'HOLLY FOX', 114.68999999999998),
 (22, 'LAURA RODRIGUEZ', 113.77999999999999),
 (582, 'ANDY VANHORN', 113.74999999999999),
 (593, 'RENE MCALISTER', 113.73999999999998),
 (486, 'GLEN TALBERT', 113.73999999999998),
 (294, 'SHELLY WATTS', 113.73999999999998),
 (139, 'AMBER DIXON', 113.72999999999999),
 (447, 'CLIFFORD BOWENS', 113.70999999999998),
 (113, 'CINDY FISHER', 113.70999999999998),
 (157, 'DARLENE ROSE', 113.68999999999998),
 (91, 'LOIS BUTLER', 113.64999999999998),
 (493, 'BRENT HARKINS', 112.76999999999998),
 (540, 'TYRONE ASHER', 112.75999999999999),
 (590, 'SETH HANNON', 112.74999999999999),
 (63, 'ASHLEY RICHARDSON', 112.74999999999999),
 (327, 'LARRY THRASHER', 112.73999999999998),
 (407, 'DALE RATCLIFF', 112.72999999999999),
 (441, 'MARIO CHEATHAM', 112.71999999999998),
 (256, 'MABEL HOLLAND', 112.69999999999999),
 (161, 'GERALDINE PERKINS', 112.69999999999999),
 (453, 'CALVIN MARTEL', 111.76999999999998),
 (528, 'CLAUDE HERZOG', 111.74999999999999),
 (518, 'GABRIEL HARDER', 111.74),
 (234, 'CLAUDIA FULLER', 111.73999999999998),
 (579, 'DARYL LARUE', 111.72999999999999),
 (116, 'VICTORIA GIBSON', 111.72999999999999),
 (396, 'EARL SHANKS', 111.72999999999998),
 (213, 'GINA WILLIAMSON', 111.71999999999998),
 (592, 'TERRANCE ROUSH', 111.71),
 (28, 'CYNTHIA YOUNG', 111.67999999999999),
 (375, 'AARON SELBY', 110.75999999999999),
 (258, 'MYRTLE FLEMING', 110.75999999999999),
 (417, 'TRAVIS ESTEP', 110.75),
 (231, 'GEORGIA JACOBS', 110.74),
 (190, 'YOLANDA WEAVER', 110.72999999999999),
 (40, 'AMANDA CARTER', 110.72999999999999),
 (559, 'EVERETT BANDA', 110.71999999999998),
 (376, 'RANDY GAITHER', 110.71999999999998),
 (90, 'RUBY WASHINGTON', 110.71999999999998),
 (563, 'KEN PREWITT', 110.71),
 (424, 'KYLE SPURLOCK', 110.69999999999999),
 (135, 'JUANITA MASON', 110.69999999999999),
 (138, 'HAZEL WARREN', 110.65999999999998),
 (477, 'DAN PAINE', 109.78),
 (562, 'WALLACE SLONE', 109.75),
 (155, 'GAIL KNIGHT', 109.75),
 (460, 'LEON BOSTIC', 109.74999999999999),
 (305, 'RICHARD MCCRARY', 109.74999999999999),
 (193, 'KATIE ELLIOTT', 109.74999999999999),
 (121, 'JOSEPHINE GOMEZ', 109.74),
 (471, 'DEAN SAUER', 109.72999999999999),
 (333, 'ANDREW PURDY', 109.72999999999999),
 (574, 'JULIAN VEST', 109.71999999999998),
 (290, 'KRISTINA CHAMBERS', 109.71999999999998),
 (405, 'LEONARD SCHOFIELD', 109.67999999999998),
 (47, 'FRANCES PARKER', 108.77999999999999),
 (541, 'DARREN WINDHAM', 108.75999999999999),
 (201, 'VICKI FIELDS', 108.75),
 (572, 'SIDNEY BURLESON', 108.74999999999999),
 (587, 'SERGIO STANFIELD', 108.73999999999998),
 (145, 'LUCILLE HOLMES', 108.72),
 (275, 'CAROLE BARNETT', 108.69999999999999),
 (249, 'DORA MEDINA', 107.77),
 (246, 'MARIAN MENDOZA', 107.77),
 (553, 'MAX PITT', 107.75999999999999),
 (127, 'ELAINE STEVENS', 107.75999999999999),
 (546, 'KELLY KNOTT', 107.73999999999998),
 (261, 'DEANNA BYRD', 107.73999999999998),
 (109, 'EDNA WEST', 107.73999999999998),
 (581, 'VIRGIL WOFFORD', 107.72999999999999),
 (52, 'JULIE SANCHEZ', 107.71),
 (418, 'JEFF EAST', 107.69999999999999),
 (452, 'TOM MILNER', 107.67999999999998),
 (345, 'CARL ARTIS', 106.77),
 (341, 'PETER MENARD', 106.77),
 (379, 'CARLOS COUGHLIN', 106.76999999999998),
 (11, 'LISA ANDERSON', 106.75999999999999),
 (98, 'LILLIAN GRIFFIN', 106.74999999999999),
 (160, 'ERIN DUNN', 106.72999999999999),
 (381, 'BOBBY BOUDREAU', 106.64999999999999),
 (429, 'FREDERICK ISBELL', 105.78999999999999),
 (414, 'VINCENT RALSTON', 105.75),
 (308, 'THOMAS GRIGSBY', 105.75),
 (150, 'DANIELLE DANIELS', 105.75),
 (517, 'BRAD MCCURDY', 105.74999999999999),
 (96, 'DIANA ALEXANDER', 105.72999999999998),
 (397, 'JIMMY SCHRADER', 105.71),
 (247, 'STELLA MORENO', 104.77999999999999),
 (466, 'LEO EBERT', 104.77),
 (409, 'RODNEY MOELLER', 104.76999999999998),
 (270, 'LEAH CURTIS', 104.75),
 (425, 'FRANCIS SIKES', 104.74),
 (312, 'MARK RINEHART', 104.74),
 (31, 'BRENDA WRIGHT', 104.74),
 (391, 'CLARENCE GAMEZ', 104.7),
 (65, 'ROSE HOWARD', 103.77999999999999),
 (519, 'RON DELUCA', 103.77),
 (365, 'BRUCE SCHWARZ', 103.77),
 (475, 'PEDRO CHESTNUT', 103.75999999999999),
 (324, 'GARY COY', 103.75),
 (199, 'BETH FRANKLIN', 103.75),
 (537, 'CLINTON BUFORD', 103.74999999999999),
 (202, 'CARLA GUTIERREZ', 103.74),
 (282, 'JENNY CASTRO', 103.73),
 (383, 'MARTIN BALES', 103.72999999999999),
 (74, 'DENISE KELLY', 103.72999999999999),
 (374, 'JEREMY HURTADO', 103.72),
 (12, 'NANCY THOMAS', 103.71999999999998),
 (100, 'ROBIN HAYES', 102.75999999999999),
 (445, 'MICHEAL FORMAN', 102.74),
 (554, 'DWAYNE OLVERA', 101.78),
 (480, 'COREY HAUSER', 101.78),
 (367, 'ADAM GOOCH', 101.77999999999999),
 (359, 'WILLIE MARKHAM', 101.75),
 (156, 'BERTHA FERGUSON', 101.75),
 (83, 'LOUISE JENKINS', 101.74999999999999),
 (387, 'JESSE SCHILLING', 101.74),
 (385, 'PHILLIP HOLM', 101.74),
 (298, 'ERIKA PENA', 101.74),
 (219, 'WILLIE HOWELL', 101.74),
 (509, 'RAUL FORTIER', 100.8),
 (55, 'DORIS REED', 100.78),
 (106, 'CONNIE WALLACE', 100.77),
 (123, 'SHANNON FREEMAN', 100.76),
 (456, 'RONNIE RICKETTS', 100.75),
 (474, 'DUSTIN GILLETTE', 100.74),
 (303, 'WILLIAM SATTERFIELD', 100.74),
 (77, 'JANE BENNETT', 100.72),
 (361, 'LAWRENCE LAWTON', 100.68999999999998),
 (64, 'JUDITH COX', 100.66999999999999),
 (449, 'OSCAR AQUINO', 99.8),
 (489, 'RICARDO MEADOR', 99.78999999999999),
 (67, 'KELLY TORRES', 99.78),
 (547, 'KURT EMMONS', 99.77),
 (437, 'RANDALL NEUMANN', 99.77),
 (352, 'ALBERT CROUSE', 99.77),
 (192, 'LAURIE LAWRENCE', 99.77),
 (511, 'CHESTER BENNER', 99.75999999999999),
 (43, 'CHRISTINE ROBERTS', 99.75999999999999),
 (597, 'FREDDIE DUGGAN', 99.75),
 (10, 'DOROTHY TAYLOR', 99.75),
 (570, 'IVAN CROMWELL', 99.74),
 (580, 'ROSS GREY', 99.73),
 (72, 'THERESA WATSON', 99.69999999999999),
 (272, 'KAY CALDWELL', 98.8),
 (17, 'DONNA THOMPSON', 98.79),
 (544, 'CODY NOLEN', 98.78),
 (443, 'FRANCISCO SKIDMORE', 98.78),
 (180, 'STACY CUNNINGHAM', 98.77000000000001),
 (217, 'AGNES BISHOP', 98.77),
 (175, 'ANNETTE OLSON', 98.75999999999999),
 (264, 'GWENDOLYN MAY', 98.75),
 (60, 'MILDRED BAILEY', 98.75),
 (516, 'ELMER NOE', 98.74),
 (133, 'PAULINE HENRY', 98.73),
 (310, 'DANIEL CABRAL', 97.8),
 (505, 'RAFAEL ABNEY', 97.78999999999999),
 (73, 'BEVERLY BROOKS', 97.75999999999999),
 (422, 'MELVIN ELLINGTON', 97.74),
 (182, 'RENEE LANE', 97.74),
 (111, 'CARMEN OWENS', 97.74),
 (498, 'GENE SANBORN', 97.73),
 (461, 'DEREK BLAKELY', 97.72),
 (578, 'WILLARD LUMPKIN', 96.78),
 (101, 'PEGGY MYERS', 96.76),
 (69, 'JUDY GRAY', 96.75),
 (326, 'JOSE ANDREW', 96.74999999999999),
 (551, 'CLAYTON BARBEE', 96.74),
 (561, 'IAN STILL', 96.73),
 (596, 'ENRIQUE FORSYTHE', 96.72),
 (488, 'SHANE MILLARD', 95.78),
 (476, 'DERRICK BOURQUE', 95.78),
 (169, 'ERICA MATTHEWS', 95.78),
 (431, 'JOEL FRANCISCO', 95.77),
 (364, 'BENJAMIN VARNEY', 95.77),
 (291, 'TONI HOLT', 95.77),
 (216, 'NATALIE MEYER', 95.77),
 (37, 'PAMELA BAKER', 95.77),
 (507, 'EDGAR RHOADS', 95.75),
 (232, 'CONSTANCE REID', 95.75),
 (24, 'KIMBERLY LEE', 95.75),
 (132, 'ESTHER CRAWFORD', 95.72),
 (542, 'LONNIE TIRADO', 94.82000000000001),
 (238, 'NELLIE GARRETT', 94.79),
 (68, 'NICOLE PETERSON', 94.78),
 (134, 'EMMA BOYD', 94.77000000000001),
 (153, 'SUZANNE NICHOLS', 94.76),
 (330, 'SCOTT SHELLEY', 94.75),
 (142, 'APRIL BURNS', 94.74000000000001),
 (523, 'HARVEY GUAJARDO', 93.78),
 (189, 'LORETTA CARPENTER', 93.78),
 (81, 'ANDREA HENDERSON', 93.78),
 (415, 'GLENN PULLEN', 93.77000000000001),
 (130, 'CHARLOTTE HUNTER', 93.76),
 (235, 'JACKIE LYNCH', 93.75),
 (229, 'TAMARA NGUYEN', 93.75),
 (377, 'HOWARD FORTNER', 93.74000000000001),
 (6, 'JENNIFER DAVIS', 93.72),
 (301, 'ROBERT BAUGHMAN', 92.79),
 (174, 'YVONNE WATKINS', 92.78999999999999),
 (104, 'RITA GRAHAM', 92.76),
 (8, 'SUSAN WILSON', 92.76),
 (188, 'MELANIE ARMSTRONG', 92.75),
 (228, 'ALLISON STANLEY', 92.73),
 (36, 'KATHLEEN ADAMS', 92.73),
 (151, 'MEGAN PALMER', 92.72999999999999),
 (212, 'WILMA RICHARDS', 91.80000000000001),
 (222, 'DELORES HANSEN', 91.79),
 (33, 'ANNA HILL', 91.79),
 (399, 'DANNY ISOM', 91.78999999999999),
 (325, 'TIMOTHY BUNN', 91.78),
 (18, 'CAROL GARCIA', 91.78),
 (93, 'PHYLLIS FOSTER', 91.77000000000001),
 (392, 'SEAN DOUGLASS', 91.77),
 (564, 'BOB PFEIFFER', 91.76),
 (382, 'VICTOR BARKLEY', 91.76),
 (99, 'EMILY DIAZ', 91.76),
 (463, 'DARRELL POWER', 91.75),
 (435, 'RICKY SHELBY', 91.75),
 (215, 'JESSIE BANKS', 91.74000000000001),
 (208, 'LUCY WHEELER', 91.74),
 (115, 'WENDY HARRISON', 91.7),
 (552, 'HUGH WALDROP', 90.79),
 (539, 'MATHEW BOLIN', 90.78),
 (328, 'JEFFREY SPEAR', 90.77000000000001),
 (184, 'VIVIAN RUIZ', 90.77),
 (545, 'JULIO NOLAND', 89.79),
 (501, 'RUBEN GEARY', 89.78999999999999),
 (143, 'LESLIE GORDON', 89.78),
 (313, 'DONALD MAHON', 89.77000000000001),
 (233, 'LILLIE KIM', 89.77000000000001),
 (9, 'MARGARET MOORE', 89.77),
 (351, 'JACK FOUST', 89.76),
 (34, 'REBECCA SCOTT', 89.76),
 (419, 'CHAD CARBONE', 89.75),
 (384, 'ERNEST STEPP', 89.75),
 (357, 'KEITH RICO', 89.74000000000001),
 (450, 'JAY ROBB', 89.74),
 (483, 'VERNON CHAPA', 88.82000000000001),
 (203, 'TARA RYAN', 88.80000000000001),
 (496, 'TYLER WREN', 88.79),
 (440, 'BERNARD COLBY', 88.78),
 (534, 'CHRISTIAN JUNG', 88.76),
 (369, 'FRED WHEAT', 88.75),
 (278, 'BILLIE HORTON', 88.74000000000001),

In [ ]:
%%sql

SELECT
  cu.customer_id,
  cu.first_name || ' ' || cu.last_name AS customer_name,
  COUNT(rent.rental_id) AS number_of_rentals
FROM customer cu
JOIN rental rent ON cu.customer_id = rent.customer_id
GROUP BY cu.customer_id
ORDER BY number_of_rentals DESC;

   sqlite://
 * sqlite:///data/database.db
Done.

[(148, 'ELEANOR HUNT', 46),
 (526, 'KARL SEAL', 45),
 (236, 'MARCIA DEAN', 42),
 (144, 'CLARA SHAW', 42),
 (75, 'TAMMY SANDERS', 41),
 (469, 'WESLEY BULL', 40),
 (197, 'SUE PETERS', 40),
 (468, 'TIM CARY', 39),
 (178, 'MARION SNYDER', 39),
 (137, 'RHONDA KENNEDY', 39),
 (459, 'TOMMY COLLAZO', 38),
 (410, 'CURTIS IRBY', 38),
 (295, 'DAISY BATES', 38),
 (5, 'ELIZABETH BROWN', 38),
 (366, 'BRANDON HUEY', 37),
 (257, 'MARSHA DOUGLAS', 37),
 (198, 'ELSIE KELLEY', 37),
 (176, 'JUNE CARROLL', 37),
 (439, 'ALEXANDER FENNELL', 36),
 (380, 'RUSSELL BRINSON', 36),
 (354, 'JUSTIN NGO', 36),
 (348, 'ROGER QUINTANILLA', 36),
 (267, 'MARGIE WADE', 36),
 (29, 'ANGELA HERNANDEZ', 36),
 (506, 'LESLIE SEWARD', 35),
 (403, 'MIKE WAY', 35),
 (381, 'BOBBY BOUDREAU', 35),
 (373, 'LOUIS LEONE', 35),
 (371, 'BILLY POULIN', 35),
 (368, 'HARRY ARCE', 35),
 (274, 'NAOMI JENNINGS', 35),
 (273, 'PRISCILLA LOWE', 35),
 (204, 'ROSEMARY SCHMIDT', 35),
 (196, 'ALMA AUSTIN', 35),
 (91, 'LOIS BUTLER', 35),
 (50, 'DIANE COLLINS', 35),
 (21, 'MICHELLE CLARK', 35),
 (576, 'MORRIS MCCARTER', 34),
 (566, 'CASEY MENA', 34),
 (502, 'BRETT CORNWELL', 34),
 (473, 'JORGE OLIVARES', 34),
 (372, 'STEVE MACKENZIE', 34),
 (360, 'RALPH MADRIGAL', 34),
 (241, 'HEIDI LARSON', 34),
 (239, 'MINNIE ROMERO', 34),
 (211, 'STACEY MONTGOMERY', 34),
 (207, 'GERTRUDE CASTILLO', 34),
 (181, 'ANA BRADLEY', 34),
 (168, 'REGINA BERRY', 34),
 (147, 'JOANNE ROBERTSON', 34),
 (138, 'HAZEL WARREN', 34),
 (129, 'CARRIE PORTER', 34),
 (119, 'SHERRY MARSHALL', 34),
 (66, 'JANICE WARD', 34),
 (46, 'CATHERINE CAMPBELL', 34),
 (38, 'MARTHA GONZALEZ', 34),
 (30, 'MELISSA KING', 34),
 (26, 'JESSICA HALL', 34),
 (533, 'JESSIE MILAM', 33),
 (522, 'ARNOLD HAVENS', 33),
 (462, 'WARREN SHERROD', 33),
 (454, 'ALEX GRESHAM', 33),
 (451, 'JIM REA', 33),
 (438, 'BARRY LOVELACE', 33),
 (390, 'SHAWN HEATON', 33),
 (314, 'GEORGE LINTON', 33),
 (297, 'SHERRI RHODES', 33),
 (237, 'TANYA GILBERT', 33),
 (230, 'JOY GEORGE', 33),
 (172, 'BERNICE WILLIS', 33),
 (114, 'GRACE ELLIS', 33),
 (102, 'CRYSTAL FORD', 33),
 (86, 'JACQUELINE LONG', 33),
 (84, 'SARA PERRY', 33),
 (64, 'JUDITH COX', 33),
 (51, 'ALICE STEWART', 33),
 (7, 'MARIA MILLER', 33),
 (569, 'DAVE GARDINER', 32),
 (550, 'GUY BROWNLEE', 32),
 (535, 'JAVIER ELROD', 32),
 (532, 'NEIL RENNER', 32),
 (520, 'MITCHELL WESTMORELAND', 32),
 (503, 'ANGEL BARCLAY', 32),
 (470, 'GORDON ALLARD', 32),
 (452, 'TOM MILNER', 32),
 (442, 'LEROY BUSTAMANTE', 32),
 (406, 'NATHAN RUNYON', 32),
 (405, 'LEONARD SCHOFIELD', 32),
 (362, 'NICHOLAS BARFIELD', 32),
 (346, 'ARTHUR SIMPKINS', 32),
 (342, 'HAROLD MARTINO', 32),
 (329, 'FRANK WAGGONER', 32),
 (306, 'CHARLES KOWALSKI', 32),
 (277, 'OLGA JIMENEZ', 32),
 (259, 'LENA JENSEN', 32),
 (254, 'MAXINE SILVA', 32),
 (245, 'COURTNEY DAY', 32),
 (244, 'VIOLA HANSON', 32),
 (242, 'GLENDA FRAZIER', 32),
 (209, 'TONYA CHAPMAN', 32),
 (167, 'SALLY PIERCE', 32),
 (158, 'VERONICA STONE', 32),
 (141, 'DEBBIE REYES', 32),
 (128, 'MARJORIE TUCKER', 32),
 (125, 'ETHEL WEBB', 32),
 (122, 'THELMA MURRAY', 32),
 (120, 'SYLVIA ORTIZ', 32),
 (89, 'JULIA FLORES', 32),
 (35, 'VIRGINIA GREEN', 32),
 (28, 'CYNTHIA YOUNG', 32),
 (15, 'HELEN HARRIS', 32),
 (1, 'MARY SMITH', 32),
 (513, 'DUANE TUBBS', 31),
 (494, 'RAMON CHOATE', 31),
 (479, 'ZACHARY HITE', 31),
 (446, 'THEODORE CULP', 31),
 (416, 'JEFFERY PINSON', 31),
 (393, 'PHILIP CAUSEY', 31),
 (361, 'LAWRENCE LAWTON', 31),
 (340, 'PATRICK NEWSOM', 31),
 (323, 'MATTHEW MAHAN', 31),
 (309, 'CHRISTOPHER GRECO', 31),
 (300, 'JOHN FARNSWORTH', 31),
 (293, 'MAE FLETCHER', 31),
 (279, 'DIANNE SHELTON', 31),
 (260, 'CHRISTY VARGAS', 31),
 (251, 'VICKIE BREWER', 31),
 (214, 'KRISTIN JOHNSTON', 31),
 (210, 'ELLA OLIVER', 31),
 (186, 'HOLLY FOX', 31),
 (157, 'DARLENE ROSE', 31),
 (103, 'GLADYS HAMILTON', 31),
 (78, 'LORI WOOD', 31),
 (27, 'SHIRLEY ALLEN', 31),
 (595, 'TERRENCE GUNDERSON', 30),
 (584, 'SALVADOR TEEL', 30),
 (560, 'JORDAN ARCHULETA', 30),
 (499, 'MARC OUTLAW', 30),
 (484, 'ROBERTO VU', 30),
 (472, 'GREG ROBINS', 30),
 (444, 'MARCUS HIDALGO', 30),
 (436, 'TROY QUIGLEY', 30),
 (424, 'KYLE SPURLOCK', 30),
 (418, 'JEFF EAST', 30),
 (408, 'MANUEL MURRELL', 30),
 (404, 'STANLEY SCROGGINS', 30),
 (391, 'CLARENCE GAMEZ', 30),
 (388, 'CRAIG MORRELL', 30),
 (356, 'GERALD FULTZ', 30),
 (347, 'RYAN SALISBURY', 30),
 (339, 'WALTER PERRYMAN', 30),
 (336, 'JOSHUA MARK', 30),
 (334, 'RAYMOND MCWHORTER', 30),
 (319, 'RONALD WEINER', 30),
 (307, 'JOSEPH JOY', 30),
 (299, 'JAMES GANNON', 30),
 (296, 'RAMONA HALE', 30),
 (289, 'VIOLET RODRIQUEZ', 30),
 (275, 'CAROLE BARNETT', 30),
 (269, 'CASSANDRA WALTERS', 30),
 (256, 'MABEL HOLLAND', 30),
 (161, 'GERALDINE PERKINS', 30),
 (154, 'MICHELE GRANT', 30),
 (135, 'JUANITA MASON', 30),
 (131, 'MONICA HICKS', 30),
 (115, 'WENDY HARRISON', 30),
 (112, 'ROSA REYNOLDS', 30),
 (108, 'TRACY COLE', 30),
 (107, 'FLORENCE WOODS', 30),
 (87, 'WANDA PATTERSON', 30),
 (80, 'MARILYN ROSS', 30),
 (72, 'THERESA WATSON', 30),
 (71, 'KATHY JAMES', 30),
 (56, 'GLORIA COOK', 30),
 (53, 'HEATHER MORRIS', 30),
 (42, 'CAROLYN PEREZ', 30),
 (23, 'SARAH LEWIS', 30),
 (20, 'SHARON ROBINSON', 30),
 (592, 'TERRANCE ROUSH', 29),
 (588, 'MARION OCAMPO', 29),
 (575, 'ISAAC OGLESBY', 29),
 (573, 'BYRON BOX', 29),
 (565, 'JAIME NETTLES', 29),
 (563, 'KEN PREWITT', 29),
 (538, 'TED BREAUX', 29),
 (529, 'ERIK GUILLEN', 29),
 (485, 'CLYDE TOBIAS', 29),
 (482, 'MAURICE CRAWLEY', 29),
 (481, 'HERMAN DEVORE', 29),
 (467, 'ALVIN DELOACH', 29),
 (448, 'MIGUEL BETANCOURT', 29),
 (447, 'CLIFFORD BOWENS', 29),
 (397, 'JIMMY SCHRADER', 29),
 (386, 'TODD TAN', 29),
 (363, 'ROY WHITING', 29),
 (349, 'JOE GILLILAND', 29),
 (337, 'JERRY JORDON', 29),
 (316, 'STEVEN CURLEY', 29),
 (302, 'MICHAEL SILVERMAN', 29),
 (287, 'BECKY MILES', 29),
 (268, 'NINA SOTO', 29),
 (265, 'JENNIE TERRY', 29),
 (263, 'HILDA HOPKINS', 29),
 (253, 'TERRY CARLSON', 29),
 (179, 'DANA HART', 29),
 (173, 'AUDREY RAY', 29),
 (163, 'CATHY SPENCER', 29),
 (146, 'JAMIE RICE', 29),
 (113, 'CINDY FISHER', 29),
 (54, 'TERESA ROGERS', 29),
 (52, 'JULIE SANCHEZ', 29),
 (39, 'DEBRA NELSON', 29),
 (32, 'AMY LOPEZ', 29),
 (25, 'DEBORAH WALKER', 29),
 (596, 'ENRIQUE FORSYTHE', 28),
 (589, 'TRACY HERRMANN', 28),
 (574, 'JULIAN VEST', 28),
 (559, 'EVERETT BANDA', 28),
 (558, 'JIMMIE EGGLESTON', 28),
 (515, 'ANDRE RAPP', 28),
 (504, 'NATHANIEL ADAM', 28),
 (500, 'REGINALD KINDER', 28),
 (497, 'GILBERT SLEDGE', 28),
 (461, 'DEREK BLAKELY', 28),
 (457, 'BILL GAVIN', 28),
 (441, 'MARIO CHEATHAM', 28),
 (400, 'BRYAN HARDISON', 28),
 (376, 'RANDY GAITHER', 28),
 (374, 'JEREMY HURTADO', 28),
 (338, 'DENNIS GILMAN', 28),
 (332, 'STEPHEN QUALLS', 28),
 (322, 'JASON MORRISSEY', 28),
 (317, 'EDWARD BAUGH', 28),
 (290, 'KRISTINA CHAMBERS', 28),
 (284, 'SONIA GREGORY', 28),
 (283, 'FELICIA SUTTON', 28),
 (276, 'BRANDY GRAVES', 28),
 (266, 'NORA HERRERA', 28),
 (262, 'PATSY DAVIDSON', 28),
 (221, 'BESSIE MORRISON', 28),
 (213, 'GINA WILLIAMSON', 28),
 (187, 'BRITTANY RILEY', 28),
 (166, 'LYNN PAYNE', 28),
 (145, 'LUCILLE HOLMES', 28),
 (132, 'ESTHER CRAWFORD', 28),
 (126, 'ELLEN SIMPSON', 28),
 (92, 'TINA SIMMONS', 28),
 (90, 'RUBY WASHINGTON', 28),
 (77, 'JANE BENNETT', 28),
 (57, 'EVELYN MORGAN', 28),
 (49, 'JOYCE EDWARDS', 28),
 (16, 'SANDRA MARTIN', 28),
 (14, 'BETTY WHITE', 28),
 (12, 'NANCY THOMAS', 28),
 (6, 'JENNIFER DAVIS', 28),
 (594, 'EDUARDO HIATT', 27),
 (591, 'KENT ARSENAULT', 27),
 (581, 'VIRGIL WOFFORD', 27),
 (580, 'ROSS GREY', 27),
 (579, 'DARYL LARUE', 27),
 (577, 'CLIFTON MALCOLM', 27),
 (561, 'IAN STILL', 27),
 (498, 'GENE SANBORN', 27),
 (491, 'RICK MATTOX', 27),
 (471, 'DEAN SAUER', 27),
 (434, 'EDDIE TOMLIN', 27),
 (426, 'BRADLEY MOTLEY', 27),
 (421, 'LEE HAWKS', 27),
 (407, 'DALE RATCLIFF', 27),
 (396, 'EARL SHANKS', 27),
 (383, 'MARTIN BALES', 27),
 (333, 'ANDREW PURDY', 27),
 (331, 'ERIC ROBERT', 27),
 (292, 'MISTY LAMBERT', 27),
 (286, 'VELMA LUCAS', 27),
 (282, 'JENNY CASTRO', 27),
 (280, 'TRACEY BARRETT', 27),
 (228, 'ALLISON STANLEY', 27),
 (220, 'CHARLENE ALVAREZ', 27),
 (206, 'TERRI VASQUEZ', 27),
 (200, 'JEANNE LAWSON', 27),
 (190, 'YOLANDA WEAVER', 27),
 (160, 'ERIN DUNN', 27),
 (151, 'MEGAN PALMER', 27),
 (139, 'AMBER DIXON', 27),
 (133, 'PAULINE HENRY', 27),
 (116, 'VICTORIA GIBSON', 27),
 (96, 'DIANA ALEXANDER', 27),
 (74, 'DENISE KELLY', 27),
 (59, 'CHERYL MURPHY', 27),
 (58, 'JEAN BELL', 27),
 (45, 'JANET PHILLIPS', 27),
 (40, 'AMANDA CARTER', 27),
 (36, 'KATHLEEN ADAMS', 27),
 (13, 'KAREN JACKSON', 27),
 (2, 'PATRICIA JOHNSON', 27),
 (593, 'RENE MCALISTER', 26),
 (587, 'SERGIO STANFIELD', 26),
 (570, 'IVAN CROMWELL', 26),
 (551, 'CLAYTON BARBEE', 26),
 (518, 'GABRIEL HARDER', 26),
 (516, 'ELMER NOE', 26),
 (512, 'CECIL VINES', 26),
 (510, 'BEN EASTER', 26),
 (495, 'CHARLIE BESS', 26),
 (487, 'HECTOR POINDEXTER', 26),
 (486, 'GLEN TALBERT', 26),
 (474, 'DUSTIN GILLETTE', 26),
 (450, 'JAY ROBB', 26),
 (445, 'MICHEAL FORMAN', 26),
 (425, 'FRANCIS SIKES', 26),
 (423, 'ALFRED CASILLAS', 26),
 (422, 'MELVIN ELLINGTON', 26),
 (411, 'NORMAN CURRIER', 26),
 (389, 'ALAN KAHN', 26),
 (387, 'JESSE SCHILLING', 26),
 (385, 'PHILLIP HOLM', 26),
 (377, 'HOWARD FORTNER', 26),
 (357, 'KEITH RICO', 26),
 (327, 'LARRY THRASHER', 26),
 (312, 'MARK RINEHART', 26),
 (304, 'DAVID ROYAL', 26),
 (303, 'WILLIAM SATTERFIELD', 26),
 (298, 'ERIKA PENA', 26),
 (294, 'SHELLY WATTS', 26),
 (285, 'MIRIAM MCKINNEY', 26),
 (278, 'BILLIE HORTON', 26),
 (261, 'DEANNA BYRD', 26),
 (240, 'MARLENE WELCH', 26),
 (234, 'CLAUDIA FULLER', 26),
 (231, 'GEORGIA JACOBS', 26),
 (225, 'ARLENE HARVEY', 26),
 (219, 'WILLIE HOWELL', 26),
 (215, 'JESSIE BANKS', 26),
 (208, 'LUCY WHEELER', 26),
 (202, 'CARLA GUTIERREZ', 26),
 (182, 'RENEE LANE', 26),
 (171, 'DOLORES WAGNER', 26),
 (170, 'BEATRICE ARNOLD', 26),
 (149, 'VALERIE BLACK', 26),
 (142, 'APRIL BURNS', 26),
 (121, 'JOSEPHINE GOMEZ', 26),
 (111, 'CARMEN OWENS', 26),
 (109, 'EDNA WEST', 26),
 (105, 'DAWN SULLIVAN', 26),
 (82, 'KATHRYN COLEMAN', 26),
 (44, 'MARIE TURNER', 26),
 (31, 'BRENDA WRIGHT', 26),
 (3, 'LINDA WILLIAMS', 26),
 (597, 'FREDDIE DUGGAN', 25),
 (590, 'SETH HANNON', 25),
 (582, 'ANDY VANHORN', 25),
 (572, 'SIDNEY BURLESON', 25),
 (562, 'WALLACE SLONE', 25),
 (546, 'KELLY KNOTT', 25),
 (537, 'CLINTON BUFORD', 25),
 (536, 'FERNANDO CHURCHILL', 25),
 (531, 'JAMIE WAUGH', 25),
 (528, 'CLAUDE HERZOG', 25),
 (517, 'BRAD MCCURDY', 25),
 (508, 'MILTON HOWLAND', 25),
 (507, 'EDGAR RHOADS', 25),
 (463, 'DARRELL POWER', 25),
 (460, 'LEON BOSTIC', 25),
 (456, 'RONNIE RICKETTS', 25),
 (435, 'RICKY SHELBY', 25),
 (433, 'DON BONE', 25),
 (419, 'CHAD CARBONE', 25),
 (417, 'TRAVIS ESTEP', 25),
 (414, 'VINCENT RALSTON', 25),
 (384, 'ERNEST STEPP', 25),
 (369, 'FRED WHEAT', 25),
 (359, 'WILLIE MARKHAM', 25),
 (343, 'DOUGLAS GRAF', 25),
 (330, 'SCOTT SHELLEY', 25),
 (326, 'JOSE ANDREW', 25),
 (324, 'GARY COY', 25),
 (308, 'THOMAS GRIGSBY', 25),
 (305, 'RICHARD MCCRARY', 25),
 (270, 'LEAH CURTIS', 25),
 (264, 'GWENDOLYN MAY', 25),
 (235, 'JACKIE LYNCH', 25),
 (232, 'CONSTANCE REID', 25),
 (229, 'TAMARA NGUYEN', 25),
 (201, 'VICKI FIELDS', 25),
 (199, 'BETH FRANKLIN', 25),
 (193, 'KATIE ELLIOTT', 25),
 (188, 'MELANIE ARMSTRONG', 25),
 (156, 'BERTHA FERGUSON', 25),
 (155, 'GAIL KNIGHT', 25),
 (150, 'DANIELLE DANIELS', 25),
 (98, 'LILLIAN GRIFFIN', 25),
 (83, 'LOUISE JENKINS', 25),
 (69, 'JUDY GRAY', 25),
 (63, 'ASHLEY RICHARDSON', 25),
 (60, 'MILDRED BAILEY', 25),
 (41, 'STEPHANIE MITCHELL', 25),
 (24, 'KIMBERLY LEE', 25),
 (10, 'DOROTHY TAYLOR', 25),
 (585, 'PERRY SWAFFORD', 24),
 (571, 'JOHNNIE CHISHOLM', 24),
 (564, 'BOB PFEIFFER', 24),
 (557, 'FELIX GAFFNEY', 24),
 (553, 'MAX PITT', 24),
 (541, 'DARREN WINDHAM', 24),
 (540, 'TYRONE ASHER', 24),
 (534, 'CHRISTIAN JUNG', 24),
 (527, 'CORY MEEHAN', 24),
 (511, 'CHESTER BENNER', 24),
 (490, 'SAM MCDUFFIE', 24),
 (475, 'PEDRO CHESTNUT', 24),
 (455, 'JON WILES', 24),
 (427, 'JESUS MCCARTNEY', 24),
 (382, 'VICTOR BARKLEY', 24),
 (375, 'AARON SELBY', 24),
 (351, 'JACK FOUST', 24),
 (288, 'BOBBIE CRAIG', 24),
 (258, 'MYRTLE FLEMING', 24),
 (243, 'LYDIA BURKE', 24),
 (227, 'COLLEEN BURTON', 24),
 (175, 'ANNETTE OLSON', 24),
 (153, 'SUZANNE NICHOLS', 24),
 (130, 'CHARLOTTE HUNTER', 24),
 (127, 'ELAINE STEVENS', 24),
 (123, 'SHANNON FREEMAN', 24),
 (104, 'RITA GRAHAM', 24),
 (101, 'PEGGY MYERS', 24),
 (100, 'ROBIN HAYES', 24),
 (99, 'EMILY DIAZ', 24),
 (73, 'BEVERLY BROOKS', 24),
 (43, 'CHRISTINE ROBERTS', 24),
 (34, 'REBECCA SCOTT', 24),
 (19, 'RUTH MARTINEZ', 24),
 (11, 'LISA ANDERSON', 24),
 (8, 'SUSAN WILSON', 24),
 (583, 'MARSHALL THORN', 23),
 (547, 'KURT EMMONS', 23),
 (530, 'DARRYL ASHCRAFT', 23),
 (521, 'ROLAND SOUTH', 23),
 (519, 'RON DELUCA', 23),
 (493, 'BRENT HARKINS', 23),
 (466, 'LEO EBERT', 23),
 (453, 'CALVIN MARTEL', 23),
 (437, 'RANDALL NEUMANN', 23),
 (432, 'EDWIN BURK', 23),
 (431, 'JOEL FRANCISCO', 23),
 (415, 'GLENN PULLEN', 23),
 (409, 'RODNEY MOELLER', 23),
 (392, 'SEAN DOUGLASS', 23),
 (379, 'CARLOS COUGHLIN', 23),
 (365, 'BRUCE SCHWARZ', 23),
 (364, 'BENJAMIN VARNEY', 23),
 (352, 'ALBERT CROUSE', 23),
 (350, 'JUAN FRALEY', 23),
 (345, 'CARL ARTIS', 23),
 (341, 'PETER MENARD', 23),
 (335, 'GREGORY MAULDIN', 23),
 (328, 'JEFFREY SPEAR', 23),
 (313, 'DONALD MAHON', 23),
 (311, 'PAUL TROUT', 23),
 (291, 'TONI HOLT', 23),
 (249, 'DORA MEDINA', 23),
 (246, 'MARIAN MENDOZA', 23),
 (233, 'LILLIE KIM', 23),
 (217, 'AGNES BISHOP', 23),
 (216, 'NATALIE MEYER', 23),
 (192, 'LAURIE LAWRENCE', 23),
 (185, 'ROBERTA HARPER', 23),
 (184, 'VIVIAN RUIZ', 23),
 (183, 'IDA ANDREWS', 23),
 (180, 'STACY CUNNINGHAM', 23),
 (177, 'SAMANTHA DUNCAN', 23),
 (134, 'EMMA BOYD', 23),
 (106, 'CONNIE WALLACE', 23),
 (93, 'PHYLLIS FOSTER', 23),
 (85, 'ANNE POWELL', 23),
 (76, 'IRENE PRICE', 23),
 (62, 'JOAN COOPER', 23),
 (37, 'PAMELA BAKER', 23),
 (9, 'MARGARET MOORE', 23),
 (598, 'WADE DELVALLE', 22),
 (578, 'WILLARD LUMPKIN', 22),
 (554, 'DWAYNE OLVERA', 22),
 (544, 'CODY NOLEN', 22),
 (543, 'LANCE PEMBERTON', 22),
 (539, 'MATHEW BOLIN', 22),
 (523, 'HARVEY GUAJARDO', 22),
 (514, 'FRANKLIN TROUTMAN', 22),
 (488, 'SHANE MILLARD', 22),
 (480, 'COREY HAUSER', 22),
 (477, 'DAN PAINE', 22),
 (476, 'DERRICK BOURQUE', 22),
 (443, 'FRANCISCO SKIDMORE', 22),
 (440, 'BERNARD COLBY', 22),
 (430, 'RAY HOULE', 22),
 (394, 'CHRIS BROTHERS', 22),
 (367, 'ADAM GOOCH', 22),
 (325, 'TIMOTHY BUNN', 22),
 (321, 'KEVIN SCHULER', 22),
 (252, 'MATTIE HOFFMAN', 22),
 (247, 'STELLA MORENO', 22),
 (224, 'PEARL GARZA', 22),
 (189, 'LORETTA CARPENTER', 22),
 (169, 'ERICA MATTHEWS', 22),
 (143, 'LESLIE GORDON', 22),
 (81, 'ANDREA HENDERSON', 22),
 (79, 'RACHEL BARNES', 22),
 (68, 'NICOLE PETERSON', 22),
 (67, 'KELLY TORRES', 22),
 (65, 'ROSE HOWARD', 22),
 (55, 'DORIS REED', 22),
 (47, 'FRANCES PARKER', 22),
 (22, 'LAURA RODRIGUEZ', 22),
 (18, 'CAROL GARCIA', 22),
 (4, 'BARBARA JONES', 22),
 (568, 'ALBERTO HENNING', 21),
 (556, 'ARMANDO GRUBER', 21),
 (552, 'HUGH WALDROP', 21),
 (545, 'JULIO NOLAND', 21),
 (505, 'RAFAEL ABNEY', 21),
 (501, 'RUBEN GEARY', 21),
 (496, 'TYLER WREN', 21),
 (489, 'RICARDO MEADOR', 21),
 (429, 'FREDERICK ISBELL', 21),
 (420, 'JACOB LANCE', 21),
 (413, 'MARVIN YEE', 21),
 (412, 'ALLEN BUTTERFIELD', 21),
 (401, 'TONY CARRANZA', 21),
 (399, 'DANNY ISOM', 21),
 (358, 'SAMUEL MARLOW', 21),
 (301, 'ROBERT BAUGHMAN', 21),
 (238, 'NELLIE GARRETT', 21),
 (226, 'MAUREEN LITTLE', 21),
 (222, 'DELORES HANSEN', 21),
 (174, 'YVONNE WATKINS', 21),
 (165, 'LORRAINE STEPHENS', 21),
 (159, 'JILL HAWKINS', 21),
 (152, 'ALICIA MILLS', 21),
 (118, 'KIM CRUZ', 21),
 (94, 'NORMA GONZALES', 21),
 (88, 'BONNIE HUGHES', 21),
 (33, 'ANNA HILL', 21),
 (17, 'DONNA THOMPSON', 21),
 (567, 'ALFREDO MCADAMS', 20),
 (549, 'NELSON CHRISTENSON', 20),
 (509, 'RAUL FORTIER', 20),
 (449, 'OSCAR AQUINO', 20),
 (428, 'HERBERT KRUGER', 20),
 (402, 'LUIS YANEZ', 20),
 (355, 'TERRY GRISSOM', 20),
 (320, 'ANTHONY SCHWAB', 20),
 (310, 'DANIEL CABRAL', 20),
 (272, 'KAY CALDWELL', 20),
 (250, 'JO FOWLER', 20),
 (212, 'WILMA RICHARDS', 20),
 (203, 'TARA RYAN', 20),
 (191, 'JEANETTE GREENE', 20),
 (162, 'LAUREN HUDSON', 20),
 (599, 'AUSTIN CINTRON', 19),
 (586, 'KIRK STCLAIR', 19),
 (548, 'ALLAN CORNISH', 19),
 (525, 'ADRIAN CLARY', 19),
 (524, 'JARED ELY', 19),
 (478, 'LEWIS LYMAN', 19),
 (458, 'LLOYD DOWD', 19),
 (395, 'JOHNNY TURPIN', 19),
 (378, 'EUGENE CULPEPPER', 19),
 (370, 'WAYNE TRUONG', 19),
 (195, 'VANESSA SIMS', 19),
 (117, 'EDITH MCDONALD', 19),
 (542, 'LONNIE TIRADO', 18),
 (483, 'VERNON CHAPA', 18),
 (353, 'JONATHAN SCARBOROUGH', 18),
 (344, 'HENRY BILLINGSLEY', 18),
 (271, 'PENNY NEAL', 18),
 (255, 'IRMA PEARSON', 18),
 (218, 'VERA MCCOY', 18),
 (205, 'EILEEN CARR', 18),
 (194, 'KRISTEN CHAVEZ', 18),
 (140, 'EVA RAMOS', 18),
 (124, 'SHEILA WELLS', 18),
 (97, 'ANNIE RUSSELL', 18),
 (95, 'PAULA BRYANT', 18),
 (70, 'CHRISTINA RAMIREZ', 18),
 (555, 'DWIGHT LOMBARDI', 17),
 (465, 'FLOYD GANDY', 17),
 (315, 'KENNETH GOODEN', 17),
 (223, 'MELINDA FERNANDEZ', 17),
 (48, 'ANN EVANS', 17),
 (492, 'LESTER KRAUS', 16),
 (464, 'JEROME KENYON', 16),
 (398, 'ANTONIO MEEK', 16),
 (164, 'JOANN GARDNER', 16),
 (248, 'CAROLINE BOWMAN', 15),
 (136, 'ANITA MORALES', 15),
 (281, 'LEONA OBRIEN', 14),
 (110, 'TIFFANY JORDAN', 14),
 (61, 'KATHERINE RIVERA', 14),
 (318, 'BRIAN WYMAN', 12)]

Et qu'en est-il des ventes des magasins de locations ?

In [ ]:
%%sql

SELECT
  s.store_id,
  COUNT(p.payment_id) AS number_of_transactions,
  ROUND(SUM(p.amount), 2) AS total_revenue,
  ROUND(AVG(p.amount), 2) AS average_revenue_per_rental
FROM store s
JOIN staff sta ON s.store_id = sta.store_id
JOIN payment p ON sta.staff_id = p.staff_id
GROUP BY s.store_id
ORDER BY total_revenue DESC;

   sqlite://
 * sqlite:///data/database.db
Done.

[(2, 7992, 33927.04, 4.25), (1, 8057, 33489.47, 4.16)]

Deux magasins sont référencés dans la base de données : pour ces deux-ci, environ 8000 locations ont été réalisées, pour environ 34000 livres de revenus (ce qui représente donc 4 euros environ par transaction).

Vous commencez peut-être à percevoir l'ampleur des possibilités offertes par l'exploration et l'analyse de cette base de données. Tout ceci est rendu possible par une architecture de base de données bien pensée, et des requêtes subtiles munies de jointures et agrégations.

Ce qui a été fait précédemment n'est qu'une analyse de surface, mais suivant le client et son besoin, cette analyse diffèrera et devra être davantage approfondie.